mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;

    color: #434343;

    &:hover {
        color: #252525;
        cursor: pointer;
    }
}

.menu-sidenav {
    padding: 30px;        
}

.sidenav-content {
    display: flex;
    flex-direction: column;

    mat-icon {
        padding-bottom: 20px;
    }
}

.menu-sidenav-content {
    container-type: normal;
}

.content-sidenav {
    width: 70%;
    min-width: 400px;
}

.content-wrapper {
    display: flex;
    flex-direction: column;

    padding: 0 10px;    
    
    mat-icon {
        margin-left: -3px;
    }
}