<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

<mat-sidenav-container autosize>
    <mat-sidenav opened disableClose class="menu-sidenav" mode="side">
        <div class="sidenav-content">
            <mat-icon fontIcon="library_add" (click)="contentDrawer.toggle()"></mat-icon>
            <mat-icon fontIcon="delete_forever" (click)="purge()"></mat-icon>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="menu-sidenav-content">
        <mat-sidenav-container autosize>
            <mat-sidenav #contentDrawer class="content-sidenav">
                <div class="content-wrapper">
                    <mat-icon fontIcon="west" (click)="contentDrawer.toggle()"></mat-icon>
                    <glr-scan-manager></glr-scan-manager>
                </div>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </mat-sidenav-content>
</mat-sidenav-container>

