:host {
    display: flex;
    margin-top: 10px;
}

div {
    font-size: 1rem;
    

    &::after {
        font-family: 'Material Icons';
        vertical-align: text-bottom;
        color: #6d6c6c;
        content: '\e5cc';
    }

    &:last-child::after {
        content: '';
    }   
}

span {
    padding: 3px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    border-radius: 5px;
}

a {
    color: #434343;
    text-decoration: none;

    &:hover {
        color: #3a3a3a;
    }
}